@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width {
    width: 100%;
}

.height {
    height: 100%;
}

.font {
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
}

.margin {
    margin-top: 15px;
}

.color {
    color: white;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.desktop-bg {
    display: inline-flex;
    justify-content: space-between;
}

.successful-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Thank {
    font-size: 25px;
}

.text {
    color: rgba(155,152,156,255);
}

.continue-btn {
    width: 400px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(34,9,48,255);

}

.abs {
    position: absolute;
}

.front-card {
    top: 200px;
    left: 200px;
    width: 447px;
    height: 245px;
}

.front-card-logo {
    top: 30px;
    left: 30px;
}

.card-num {
    font-size: 32px;
    bottom: 70px;
    left: 30px;
}

.card-date {
    bottom: 30px;
    right: 30px;
}

.card-name {
    bottom: 30px;
    left: 30px;
}

.back-side-card {
    top: 500px;
    left: 300px;
    width: 447px;
    height: 245px;
}

.CVV {
    top: 108px;
    right: 55px;
}